# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


---
title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
#carga de librerias utilizadas
library(rpart)
library(titanic)
library("rpart.plot")
library("rattle")
library(tidyverse)
```


```{r}
# cargamos los datos
data("titanic_train")
head(titanic_train)
```


```{r}
#creamos el arbol
arbol <- rpart(
  formula = Survived ~ Sex + Age ,
  data = titanic_train ,
  method = "class"
)
```


```{r}
# Graficamos el arbol 
fancyRpartPlot(arbol)

```

```{r}
#prediciendo el arbol
pred_arbol <- predict(arbol, type = "class")
```


```{r}

#creamos un df con las predicciones 
titanic_pred <- cbind(titanic_train, pred_arbol)

```
```{r}
# comprobamos el modelo con un pasajero de 4 años
predict(object = arbol,
        newdata = data.frame(Age= 4,
                             Sex= "male"),
        type = "class")
```

Add a new chunk by clicking the *Insert Chunk* button on the toolbar or by pressing *Ctrl+Alt+I*.

When you save the notebook, an HTML file containing the code and output will be saved alongside it (click the *Preview* button or press *Ctrl+Shift+K* to preview the HTML file).

The preview shows you a rendered HTML copy of the contents of the editor. Consequently, unlike *Knit*, *Preview* does not run any R code chunks. Instead, the output of the chunk when it was last run in the editor is displayed.
